# madang schema에서 book table 불러오기

In [1]:
import pymysql

In [2]:
# mysql Connection
conn = pymysql.connect(host = '127.0.0.1',user = 'root',password = '1111',
                      db = 'madang',charset = 'utf8')

In [3]:
#Connection으로 부터 cursor생성 - 테이터 베이스 빈줄에 커서가 깜빡 거리고 있는 것이다.
curs = conn.cursor()

In [4]:
# SQL 문장
sql = 'select * from book'
curs.execute(sql) # 실행문 - 결과는 데이터가 몇개 있는지 알려준다.

10

In [5]:
# Data Fetch
rows = curs.fetchall()
print(rows)

((1, '축구의역사', '굿스포츠', 7000), (2, '축구아는 여자', '나무수', 13000), (3, '축구의 이해', '대한미디어', 22000), (4, '골프 바이블', '대한미디어', 35000), (5, '피겨 교본', '굿스포츠', 6000), (6, '역도 단계별 기술', '굿스포츠', 6000), (7, '야구의 추억', '이상미디어', 20000), (8, '야구를 부탁해', '이상미디어', 13000), (9, '올림픽 이야기', '삼성당', 7500), (10, '올림픽 챔피언', '피어슨', 13000))

In [6]:
# 커넥션 끊어주기 - 끊지 않으면 5명이상 들어가지 못하기 때문에 항상 끊어줘야함.
conn.close()

In [7]:
rows[0] # 데이터를 튜플타입으로 데리고옴

(1, '축구의역사', '굿스포츠', 7000)

In [8]:
rowList = list(rows) # 리스트 타입으로 변경 시켜줌

In [9]:
print(rowList)

[(1, '축구의역사', '굿스포츠', 7000), (2, '축구아는 여자', '나무수', 13000), (3, '축구의 이해', '대한미디어', 22000), (4, '골프 바이블', '대한미디어', 35000), (5, '피겨 교본', '굿스포츠', 6000), (6, '역도 단계별 기술', '굿스포츠', 6000), (7, '야구의 추억', '이상미디어', 20000), (8, '야구를 부탁해', '이상미디어', 13000), (9, '올림픽 이야기', '삼성당', 7500), (10, '올림픽 챔피언', '피어슨', 13000)]

In [10]:
print(rowList[0][1])

축구의역사

In [11]:
for i in rowList:
    print(i[1])

축구의역사
축구아는 여자
축구의 이해
골프 바이블
피겨 교본
역도 단계별 기술
야구의 추억
야구를 부탁해
올림픽 이야기
올림픽 챔피언

In [12]:
booklist = []
booklist2 = []

for i in rowList:
    booklist2.append(i)
    rowList = list((booklist2[-1]))
    booklist.append(rowList)
print(booklist)

[[1, '축구의역사', '굿스포츠', 7000], [2, '축구아는 여자', '나무수', 13000], [3, '축구의 이해', '대한미디어', 22000], [4, '골프 바이블', '대한미디어', 35000], [5, '피겨 교본', '굿스포츠', 6000], [6, '역도 단계별 기술', '굿스포츠', 6000], [7, '야구의 추억', '이상미디어', 20000], [8, '야구를 부탁해', '이상미디어', 13000], [9, '올림픽 이야기', '삼성당', 7500], [10, '올림픽 챔피언', '피어슨', 13000]]

In [13]:
book = []
for i in rowList:
    book.append(list((i[1],i[2],i[3])))
print(book)

TypeError: 'int' object is not subscriptable