In [1]:
import pymysql

In [3]:
# mysql Connection
conn = pymysql.connect(host = '127.0.0.1',user = 'root',password = '1111',
                      db = 'useraddress',charset = 'utf8')

OperationalError: (2003, "Can't connect to MySQL server on '127.0.0.1' ([WinError 10061] 대상 컴퓨터에서 연결을 거부했으므로 연결하지 못했습니다)")

In [4]:
try:
    #insert
    with conn.cursor() as curs:
        sql = 'insert into userinfo(name, telno, address, email, relation) values (%s,%s,%s,%s,%s)'
        curs.execute(sql,('bbb','001-002-0002','seoul','bbb@naver.com','test용'))
        conn.commit()
    
    #select
    with conn.cursor() as curs:
        sql = 'select * from userinfo'
        curs.execute(sql)
        rs = curs.fetchall()
        for row in rs:
            print(row)
finally:
    conn.close()

(1, 'aaa', '001-001-0001', 'Pyeongchang', 'aaa@naver.com', 'test용')
(3, 'ccc', '001-004-0003', 'Pyeongchang', 'ccc@naver.com', 'test용')
(4, 'A111', '111-111-1111', '서울', 'aaa@naver.com', 'test용')
(5, 'B111', '111-111-1111', '서울', 'bbb@naver.com', 'test용')
(6, 'C111', '111-111-1111', '서울', 'ccc@naver.com', 'test용')
(7, 'BBB', '002-2222-2222', 'seoul', 'bbb@naver.com', 'test용')
(8, 'bbb', '001-002-0002', 'seoul', 'bbb@naver.com', 'test용')
(9, '홍길동', '111-1111-1111', '서울시', None, None)
(10, '홍길순', '111-1111-2222', '서울시', None, None)
(11, 'bbb', '001-002-0002', 'seoul', 'bbb@naver.com', 'test용')

In [5]:
# 검색 결과를 csv file 만들기
userlist = []
try:
    #select
    with conn.cursor() as curs:
        sql = 'select * from userinfo'
        curs.execute(sql)
        rs = curs.fetchall()
        for row in rs:
            userlist.append(row)
            print(row)
finally:
    conn.close()

Error: Already closed

In [ ]:
print(userlist)

In [ ]:
try:
    #insert
    with conn.cursor() as curs:
        sql = 'insert into userinfo(name, telno, address) values (%s,%s,%s)'
        curs.execute(sql,('홍길동','111-1111-1111','서울시'))
        curs.execute(sql,('홍길순','111-1111-2222','서울시'))
        conn.commit()
    
    #select
    with conn.cursor() as curs:
        sql = 'select * from userinfo'
        curs.execute(sql)
        rs = curs.fetchall()
        for row in rs:
            print(row)
finally:
    conn.close()

In [ ]:
userlist = []
try:
    #select
    with conn.cursor() as curs:
        sql = 'select * from userinfo'
        curs.execute(sql)
        rs = curs.fetchall()
        for row in rs:
            userlist.append(row)
finally:
    conn.close()

In [ ]:
print(userlist)

In [ ]:
num = 0        # 셀로 변환됨.
with open('test.csv','w') as f:
    for i in userlist:
        if(i[0]==9):
            num += 1
            data = '%d,%s,%s,%s,\n'%(num,i[1],i[2],i[3])
            f.write(data)
        elif(i[0]==10):
            num += 1
            data = '%d,%s,%s,%s,\n'%(num,i[1],i[2],i[3])
            f.write(data)

In [ ]:
with open('test.txt','r') as f:
    data = f.read()
    
print(data)