# pandas / Numpy
- Pandas/Numpy 는 고급 데이터 분석과 수치계산등의 기능을 제공하는 확장 모듈.
- Numpy는 수치계산을 효율적으로 하기 위한 모듈로 다차원 배열과 고수준의 수학 함수를 제공한다.
- Pandas 테이블 분석 기능을 제공하는 라이브러리, csv파일등의 데이터를 읽고, 원하는 형식으로 변환!

----------------------
# DataFrame
- Pandas에서 사용하는 기본 Data.
- 데이터 프레임을 정의할 때에는 2차원 리스트를 매개변수로 전달한다.

In [4]:
import pandas as pd #as pd 알리아스(별명)을 만든다

In [2]:
a = pd.DataFrame([
    [10,20,30],
    [40,50,60],
    [70,80,90]
])

In [3]:
print(a) #컬럼에 이름을 주지 않으면 알아서 0 1 2 만들어짐

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [4]:
print(a[0])

0    10
1    40
2    70
Name: 0, dtype: int64

In [5]:
print(a[0][0])

10

# 부분 Data 가져오기
format : loc[행,렬]

In [6]:
# 열의 Data 추출하기 - 컴마기준 행,렬
print(a.loc[:,1])

0    20
1    50
2    80
Name: 1, dtype: int64

In [7]:
# 행의 Data 추출하기
print(a.loc[1,:])

0    40
1    50
2    60
Name: 1, dtype: int64

In [8]:
# 하나의 Data만 추출하기
print(a.loc[1,1])

50

In [9]:
# 범위를 정해 열의 Data 추출하기 : slice
print(a.loc[:,0:1])

    0   1
0  10  20
1  40  50
2  70  80

In [10]:
# 범위를 정해 column의 Data 추출하기 : slice사용
print(a.loc[0:1,:])

    0   1   2
0  10  20  30
1  40  50  60

-----------------------
# Pandas로 1차원 데이터 불러오기

In [11]:
# 1차원 데이터는 Series를 사용
s = pd.Series([1.0,3.0,5.0,7.0,9.0])

In [12]:
print(s)

0    1.0
1    3.0
2    5.0
3    7.0
4    9.0
dtype: float64

In [13]:
print(s[0])

1.0

In [14]:
# 부분 데이터 가져오기
print(s[0])
print(s[0:3])

1.0
0    1.0
1    3.0
2    5.0
dtype: float64

----------------------
# 원하는 데이터 추출하기

In [5]:
# 1차원 리스트가 들어있는 딕셔너리 자료형의 데이터가 키(key)로 있을때 원하는 데이터 추출
# 키(height), 몸무게, 유형 데이터 프레임 생성하기

tbl = pd.DataFrame({
    'weight' : [80.0 , 70.4 , 65.5 , 45.9 , 51.2],
    'height' : [170 , 180 , 155 , 143 , 154],
    'type' : ['f','n','n','t','t']
})#딕셔너리 생성
print(tbl)
print('-'*25)

#몸무게 목록 추출하기
print('몸무게 목록')
print(tbl.loc[:,'weight'])
print('-'*25)

# 키목록 추출하기
print('신장 목록')
print(tbl.loc[:,'height'])
print('-'*25)

# 타입목록 추출하기
print('타입 목록')
print(tbl.loc[:,'type'])
print('-'*25)

# 0번의 정보 추출하기
print('0번 정보 추출')
print(tbl.loc[0,:])
print('-'*25)

# 신장과 몸무게 정보 추출하기
print('신장과 몸무게 정보 추출')
print(tbl.loc[:,['weight','height']]) # 튜플 말고 리스트로 써라?
print('-'*25)

   weight  height type
0    80.0     170    f
1    70.4     180    n
2    65.5     155    n
3    45.9     143    t
4    51.2     154    t
-------------------------
몸무게 목록
0    80.0
1    70.4
2    65.5
3    45.9
4    51.2
Name: weight, dtype: float64
-------------------------
신장 목록
0    170
1    180
2    155
3    143
4    154
Name: height, dtype: int64
-------------------------
타입 목록
0    f
1    n
2    n
3    t
4    t
Name: type, dtype: object
-------------------------
0번 정보 추출
weight     80
height    170
type        f
Name: 0, dtype: object
-------------------------
신장과 몸무게 정보 추출
   weight  height
0    80.0     170
1    70.4     180
2    65.5     155
3    45.9     143
4    51.2     154
-------------------------

In [16]:
print('몸무게 목록')
print(tbl['weight'])
print('-'*25)

print('몸무게 신장 목록')
print(tbl[['weight','height']])

몸무게 목록
0    80.0
1    70.4
2    65.5
3    45.9
4    51.2
Name: weight, dtype: float64
-------------------------
몸무게 신장 목록
   weight  height
0    80.0     170
1    70.4     180
2    65.5     155
3    45.9     143
4    51.2     154

In [6]:
# 2-3번 데이터 출력
print('2-3번 데이터 출력')
print(tbl.loc[2:3,:]) 
print('-'*25)

# 3번이후 데이터 출력
print('2-3번 데이터 출력')
print(tbl.loc[3:,:]) 
print('-'*25)

# weight 에서 1 2 번 정보 출력
print('2-3번데이터 출력')
print(tbl[['weight']][1:3])

2-3번 데이터 출력
   weight  height type
2    65.5     155    n
3    45.9     143    t
-------------------------
2-3번 데이터 출력
   weight  height type
3    45.9     143    t
4    51.2     154    t
-------------------------
2-3번데이터 출력
   weight
1    70.4
2    65.5

In [18]:
# 원하는 조건의 값 추출
tbl['height'] >= 160

0     True
1     True
2    False
3    False
4    False
Name: height, dtype: bool

In [19]:
tbl[tbl['height'] >= 160] # true인것만 출력됨

   weight  height type
0    80.0     170    f
1    70.4     180    n

In [20]:
# 다른 방법
tbl.height >= 160

0     True
1     True
2    False
3    False
4    False
Name: height, dtype: bool

In [21]:
tbl[tbl.height >= 160]

   weight  height type
0    80.0     170    f
1    70.4     180    n

In [22]:
# 타입이 n인 것만 출력
tbl[tbl.type == 'n']

   weight  height type
1    70.4     180    n
2    65.5     155    n

In [23]:
tbl['weight'][tbl.type == 'n']

1    70.4
2    65.5
Name: weight, dtype: float64

In [24]:
type(tbl)

pandas.core.frame.DataFrame

# 정렬

In [25]:
print('신장 기준으로 오름차순 정렬')    ##sort
tbl.sort_values(by = 'height')          #by = 기준

신장 기준으로 오름차순 정렬

   weight  height type
3    45.9     143    t
4    51.2     154    t
2    65.5     155    n
0    80.0     170    f
1    70.4     180    n

In [26]:
print('몸무게 기준으로 내림차순 정렬')
tbl_weight = tbl.sort_values(by = 'weight', ascending = False)

몸무게 기준으로 내림차순 정렬

In [27]:
tbl # 판다스 복사를 해주야 하는데 안해서 데이터 자체가 바뀌어버림

   weight  height type
0    80.0     170    f
1    70.4     180    n
2    65.5     155    n
3    45.9     143    t
4    51.2     154    t

In [28]:
# 행과 열의 회전 - 우리가 원하는 정렬이 아닐때(컬럼이 행으로 가있을때)
print(tbl.T)
print('-'*40)
print(tbl.T.T)
# 알고리즘이 키와 리스트로 이루어져 있어서 데이터를 컬럼 기준으로 있어야 한다.

          0     1     2     3     4
weight   80  70.4  65.5  45.9  51.2
height  170   180   155   143   154
type      f     n     n     t     t
----------------------------------------
  weight height type
0     80    170    f
1   70.4    180    n
2   65.5    155    n
3   45.9    143    t
4   51.2    154    t

In [30]:
# Numpy를 이용한 데이터 조작
# 넘파이는 순수한 행렬 - 쓰는 이유는 수학적 알고리즘이 다 들어가 있어서 이다.
import numpy as np

In [33]:
a = np.zeros(10)

In [36]:
b = np.arange(10)

In [41]:
b = b * 3

In [44]:
#최댓값
b.max()

243

In [46]:
#최솟값
b.min()

0

In [47]:
#평균
b.mean()

121.5

In [49]:
type(tbl)

pandas.core.frame.DataFrame

In [53]:
# 매트릭스로 바꾸기 - 넘파이 타입으로 (행렬)
tbl.values

array([[80.0, 170, 'f'],
       [70.4, 180, 'n'],
       [65.5, 155, 'n'],
       [45.9, 143, 't'],
       [51.2, 154, 't']], dtype=object)