# 다음 영화 예매율

http://ticket2.movie.daum.net/movie/movieranklist.aspx

In [47]:

# 다음 영화 예매 순위 가져오기
from bs4 import BeautifulSoup
import urllib.request as req

# HTML
url = 'http://ticket2.movie.daum.net/Movie/MovieRankList.aspx'
res = req.urlopen(url)

# HTML 분석
soup = BeautifulSoup(res, 'html.parser')

# 데이터 추출하기
aprice = soup.select('div.desc_boxthumb > strong.tit_join > a.link_g ') #selcet_one 이기때문에 바로 .string을 쓸 수 있다.

data = []
for i, lst in enumerate(aprice):
    plus = []
    plus.append(i+1)
    plus.append(lst.string.strip())
    data.append(plus)
data

[[1, '국가부도의 날'],
 [2, '보헤미안 랩소디'],
 [3, '성난황소'],
 [4, '완벽한 타인'],
 [5, '후드'],
 [6, '신비한 동물들과 그린델왈드의 범죄'],
 [7, '거미줄에 걸린 소녀'],
 [8, '베일리 어게인'],
 [9, '바울'],
 [10, '로빈슨의 언더워터 어드벤처'],
 [11, '출국'],
 [12, '폴란드로 간 아이들'],
 [13, '저니스 엔드'],
 [14, 'SIFF2018 - 벌새'],
 [15, '28세 미성년'],
 [16, '번 더 스테이지: 더 무비'],
 [17, 'SIFF2018 - 나는보리'],
 [18, 'SIFF2018 - 사령혼: 죽은 넋'],
 [19, '스타 이즈 본'],
 [20, '영주']]

In [13]:
import numpy as np
import pandas as pd

In [48]:
Mlist = pd.DataFrame(data)
Mlist['index'] = range(1,21)
Mlist['title'] = Mlist[1]
Mlist

     0                     1  index                 title
0    1               국가부도의 날      1               국가부도의 날
1    2              보헤미안 랩소디      2              보헤미안 랩소디
2    3                  성난황소      3                  성난황소
3    4                완벽한 타인      4                완벽한 타인
4    5                    후드      5                    후드
5    6    신비한 동물들과 그린델왈드의 범죄      6    신비한 동물들과 그린델왈드의 범죄
6    7            거미줄에 걸린 소녀      7            거미줄에 걸린 소녀
7    8               베일리 어게인      8               베일리 어게인
8    9                    바울      9                    바울
9   10        로빈슨의 언더워터 어드벤처     10        로빈슨의 언더워터 어드벤처
10  11                    출국     11                    출국
11  12            폴란드로 간 아이들     12            폴란드로 간 아이들
12  13                저니스 엔드     13                저니스 엔드
13  14         SIFF2018 - 벌새     14         SIFF2018 - 벌새
14  15               28세 미성년     15               28세 미성년
15  16        번 더 스테이지: 더 무비     16        번 더 스테이지: 더 무비
16  17       SIFF2018 - 나는보리     17       SIFF2018 - 나는보리
17  18  SIFF2018 - 사령혼: 죽은 넋     18  SIFF2018 - 사령혼: 죽은 넋
18  19               스타 이즈 본     19               스타 이즈 본
19  20                    영주     20                    영주

In [49]:
del Mlist[0]
del Mlist[1]
Mlist

    index                 title
0       1               국가부도의 날
1       2              보헤미안 랩소디
2       3                  성난황소
3       4                완벽한 타인
4       5                    후드
5       6    신비한 동물들과 그린델왈드의 범죄
6       7            거미줄에 걸린 소녀
7       8               베일리 어게인
8       9                    바울
9      10        로빈슨의 언더워터 어드벤처
10     11                    출국
11     12            폴란드로 간 아이들
12     13                저니스 엔드
13     14         SIFF2018 - 벌새
14     15               28세 미성년
15     16        번 더 스테이지: 더 무비
16     17       SIFF2018 - 나는보리
17     18  SIFF2018 - 사령혼: 죽은 넋
18     19               스타 이즈 본
19     20                    영주

In [50]:
# data 저장하기
Mlist.to_csv('./data/DaumList.csv',index=False)

In [51]:
movielist=pd.read_csv('./data/DaumList.csv',index_col='index')
movielist

                      title
index
1                   국가부도의 날
2                  보헤미안 랩소디
3                      성난황소
4                    완벽한 타인
5                        후드
6        신비한 동물들과 그린델왈드의 범죄
7                거미줄에 걸린 소녀
8                   베일리 어게인
9                        바울
10           로빈슨의 언더워터 어드벤처
11                       출국
12               폴란드로 간 아이들
13                   저니스 엔드
14            SIFF2018 - 벌새
15                  28세 미성년
16           번 더 스테이지: 더 무비
17          SIFF2018 - 나는보리
18     SIFF2018 - 사령혼: 죽은 넋
19                  스타 이즈 본
20                       영주