In [25]:
import pandas as pd
import numpy as np

In [55]:
# 
student_top5 = {
    'stcode' : ['190001','190002','190003','190004','190005'],
    'stname' : ['홍길동','임꺽정','대장금','신선한','기발한'],
    'kor' : ['100','100','50','90','70'],
    'eng' : ['100','70','80','80','40'],
    'math' : ['100','50','60','30','50'],
    'total' : ['0','0','0','0','0']
}
kk = pd.DataFrame(student_top5)
kk.columns = [0,1,2,3,4,5]
kk[2] = kk[2].astype('int')
kk[3] = kk[3].astype('int')
kk[4] = kk[4].astype('int')
kk


for i in range(0,5):
    cut = 0
    for k in range(0,6):
        print(kk.loc[i,k])
        if cut==0:
            print(kk[[2,3,4]].sum(axis = 1)[i])
        cut += 1

190001
300
홍길동
300
100
300
100
300
100
300
0
300
190002
220
임꺽정
220
100
220
70
220
50
220
0
220
190003
190
대장금
190
50
190
80
190
60
190
0
190
190004
200
신선한
200
90
200
80
200
30
200
0
200
190005
160
기발한
160
70
160
40
160
50
160
0
160

In [52]:


kk[[2,3,4]].sum(axis = 1)

0    300
1    220
2    190
3    200
4    160
dtype: int64

In [21]:
kk.loc[0,1]

'190001'