# 내장함수

In [2]:
# abs : 절대값
print(abs(-3))

3

In [4]:
# all : 자료가 모두 참일때 true, 하나라도 거짓이 있으면 false
print(all([1,2,3]))
print(all([1,2,0])) #0이 들어가서 false

True
False

In [6]:
# any : 자료가 하나라도 참일때 true, 모두 거짓이면 false
print(any([0,0,3]))
print(any([0,0,0]))
print(any([0,'',0])) #문자열에 데이터가 없어도 false

True
False
False

In [10]:
# divmod : 나눈값의 결과를 몫과 나머지로 구분하여 튜플형으로 출력
a = divmod(7,3)
print(a) #몫은 2이고 나머지는 1이다.
print('몫 :',a[0],'나머지 :',a[1])

(2, 1)
몫 : 2 나머지 : 1

In [12]:
# enumerate : 순서가 있는 자료형을 인덱스가 있는 enumerate 형으로 변환
for i, name in enumerate(['a','b','c']):
    print(i,name)

0 a
1 b
2 c

In [13]:
#그 전버전
for name in ['a','b','c']:
    print(name)

a
b
c

In [15]:
# lambda 함수 : def와 동일한 역할
sum = lambda a,b: a+b
sum(3,4)

7

In [17]:
len('python')

6

In [18]:
len([1,2,3])

3

In [24]:
# 리스트 자료형을 리스트로 만든다.         !!!!!!!!!!많이 사용한다.
a = list('python')
a[0]

'p'

In [26]:
max('python')

'y'

In [28]:
min('python')

'h'

In [30]:
pow(2,3) #2의 3제곱

8

In [32]:
str(3) #문자값으로 변환

'3'

In [33]:
# zip : 동일한 개수로 이루어진 자료형을 묶어주는 역할
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [34]:
list(zip(['a','b','c'],['d','e','f']))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

# 외장함수

# time이 제일 중요하다? 인터넷에서 데이터를 수집할때 // site 뒤에 robots.txt 쳐보면 disallow : / (모든것에 대해 불허용)
# https://www.google.com/robots.txt

In [1]:
import time

In [4]:
for i in range(10):
    print(i)
    time.sleep(1) #1초 쉬고

0
1
2
3
4
5
6
7
8
9

In [40]:
import calendar

In [42]:
print(calendar.calendar(2018))

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [43]:
calendar.prmonth(2018,11)

   November 2018
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [105]:
import random
random.random()

0.017190782183577946

In [113]:
data = [1,2,3,4,5,6]
random.shuffle(data)
print(data)

[4, 2, 5, 1, 3, 6]

In [115]:
import webbrowser

In [116]:
webbrowser.open("http:/naver.com")

True