# numpy 의 indexing은 python의 List와 흡사 합니다.

In [1]:
import numpy as np

In [2]:
#array 만들기
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
arr[5]

5

In [4]:
arr[5:9]

array([5, 6, 7, 8])

In [5]:
# arr의 indexing 위치에 값 대입하기
arr[0] = 0

In [6]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [8]:
arr[:4]

array([0, 1, 2, 3])

In [9]:
arr[8:]

array([8, 9])

In [10]:
# 2차원 array
arr2d = np.array([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
])

In [11]:
arr2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [12]:
# 행렬이 나온다 하면 습관적으로 ,를 찍고 생각하자.
arr2d[2]
arr2d[2,:]

array([ 9, 10, 11, 12])

In [13]:
arr2d[2,2]

11

In [14]:
arr2d[:,2]

array([ 3,  7, 11, 15])

In [15]:
arr2d[2:4,:]

array([[ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [16]:
arr2d[:,3]

array([ 4,  8, 12, 16])

In [17]:
arr2d[:,0:2]

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10],
       [13, 14]])

In [19]:
arr2d[0:2,1:3] = 0

In [20]:
arr2d

array([[ 1,  0,  0,  4],
       [ 5,  0,  0,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

-------------------------------------
# 난수발생
- rand = 0부터 1까지 균일 분포
- randn = 가우시안 표준 정규 분포
- randint = 균일분포 정수 난수

In [22]:
names = np.array(['charles','kenny','hayoung','charles','hayoung','kenny','kenny',])
data = np.random.randn(7,4) # 7행 4열의 가우시안 표준 정규분포 행열 생성

In [23]:
names

array(['charles', 'kenny', 'hayoung', 'charles', 'hayoung', 'kenny',
       'kenny'], dtype='<U7')

In [24]:
data

array([[ 1.2001505 ,  0.50222051, -1.37177599, -1.11578049],
       [-0.18807451, -0.69170194,  0.87056259, -0.04320763],
       [ 1.00309822,  0.26412786, -0.17440941, -0.48846255],
       [-0.61846528,  1.10868696, -0.24261969, -0.78340722],
       [ 0.07409234, -1.10725689, -0.43900363,  0.00596572],
       [-0.38135817,  2.85640839, -1.71587197, -0.5175537 ],
       [ 1.96742539,  0.77172906,  0.67804649,  0.70660309]])

In [25]:
# 이름이 charles인 사람의 data를 추출하여 Boolean Array(Mask) 생성
names == 'charles'

array([ True, False, False,  True, False, False, False])

In [26]:
# true인 곳의 데이터를 가지고 온다.
data[names == 'charles']

array([[ 1.2001505 ,  0.50222051, -1.37177599, -1.11578049],
       [-0.61846528,  1.10868696, -0.24261969, -0.78340722]])

In [27]:
data[names == 'kenny']

array([[-0.18807451, -0.69170194,  0.87056259, -0.04320763],
       [-0.38135817,  2.85640839, -1.71587197, -0.5175537 ],
       [ 1.96742539,  0.77172906,  0.67804649,  0.70660309]])

In [29]:
# names가 charles이거나 kenny인 data  가져오기 - or
data[(names == 'charles')|(names == 'kenny')]

array([[ 1.2001505 ,  0.50222051, -1.37177599, -1.11578049],
       [-0.18807451, -0.69170194,  0.87056259, -0.04320763],
       [-0.61846528,  1.10868696, -0.24261969, -0.78340722],
       [-0.38135817,  2.85640839, -1.71587197, -0.5175537 ],
       [ 1.96742539,  0.77172906,  0.67804649,  0.70660309]])

In [30]:
data[:,3]

array([-1.11578049, -0.04320763, -0.48846255, -0.78340722,  0.00596572,
       -0.5175537 ,  0.70660309])

In [33]:
data[data[:,3]<0]

array([[ 1.2001505 ,  0.50222051, -1.37177599, -1.11578049],
       [-0.18807451, -0.69170194,  0.87056259, -0.04320763],
       [ 1.00309822,  0.26412786, -0.17440941, -0.48846255],
       [-0.61846528,  1.10868696, -0.24261969, -0.78340722],
       [-0.38135817,  2.85640839, -1.71587197, -0.5175537 ]])

In [34]:
data[data[:,3]<0] = 0

In [35]:
data

array([[ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.07409234, -1.10725689, -0.43900363,  0.00596572],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 1.96742539,  0.77172906,  0.67804649,  0.70660309]])