# 계층적 (주소) - 한단계씩 구체화? 방식

In [1]:
import numpy as np
import pandas as pd

# Series

In [3]:
# 계층적 index란? - 계층으로 만들려면 index 갯수 맞춰줘야
s = pd.Series(
    np.random.randn(10),
    index = [
        ['a','a','a','b','b','b','c','c','d','d'],
        [1,2,3,1,2,3,1,2,2,3]
    ]
)
s

a  1   -0.275326
   2    0.256692
   3   -0.742649
b  1   -0.721222
   2   -0.809936
   3   -1.272536
c  1   -2.180189
   2   -0.512456
d  2    0.974272
   3    1.359337
dtype: float64

In [4]:
s1 = pd.Series(
    np.random.randn(10),
    index = [
        list('aaabbbccdd'),
        list('1231231223')
    ]
)
s1

a  1   -1.074251
   2   -0.759316
   3   -0.140007
b  1   -2.309749
   2   -0.143207
   3    1.441904
c  1    2.069024
   2   -1.438584
d  2    1.094006
   3    0.691931
dtype: float64

In [5]:
s.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [6]:
# 안에 들어간 index와 값이 보인다.
s['b']

1   -0.721222
2   -0.809936
3   -1.272536
dtype: float64

In [7]:
s['b':'c']

b  1   -0.721222
   2   -0.809936
   3   -1.272536
c  1   -2.180189
   2   -0.512456
dtype: float64

In [9]:
s['b'][3]

-1.2725357603816512

In [10]:
s[('b',3)]

-1.2725357603816512

In [15]:
# 2번째 층의 값을 가져오기???????????????????
s[:,2]

a    0.256692
b   -0.809936
c   -0.512456
d    0.974272
dtype: float64

In [35]:
# DataFrame
df = pd.DataFrame(
    np.arange(12).reshape(4,3),
    index = [
        ['a','a','b','b'],[1,2,1,2]
    ],
    columns = [
        ['seoul','seoul','pusan'],['green','red','green']
    ]
)
df

    seoul     pusan
    green red green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [17]:
# df에 data를 넣어서 작업하기 편하게 만들자
df.index.names = ['key1','key2']
df

          seoul     pusan
          green red green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [19]:
df.columns.names = ['city','color']
df

city      seoul     pusan
color     green red green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [20]:
# 키값들을 줬을 때 이렇게 한번에 불러들일 수 있다.
df['seoul']

color      green  red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [22]:
df['seoul']['green']

key1  key2
a     1       0
      2       3
b     1       6
      2       9
Name: green, dtype: int32

In [23]:
df[('seoul','green')]

key1  key2
a     1       0
      2       3
b     1       6
      2       9
Name: (seoul, green), dtype: int32

In [24]:
# 인덱스를 보려면 꼭 loc 사용해야해
df.loc['a']

city  seoul     pusan
color green red green
key2
1         0   1     2
2         3   4     5

In [36]:
df.loc[('a',1)]

seoul  green    0
       red      1
pusan  green    2
Name: (a, 1), dtype: int32

In [28]:
df.loc['b',('seoul','red')]

key2
1     7
2    10
Name: (seoul, red), dtype: int32

In [37]:
df.loc[('b',2),('pusan','green')]

11