In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        'key1' : ['a','a','b','b','a'],
        'key2' : ['one','two','one','two','one'],
        'data1' : np.random.randn(5),
        'data2' : np.random.randn(5)
    }
)
df

  key1 key2     data1     data2
0    a  one  0.529707  0.230604
1    a  two -0.052653 -1.414127
2    b  one  0.383246  1.945774
3    b  two  0.285210  1.068614
4    a  one  0.952190 -0.716337

In [3]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a    0.476414
b    0.334228
Name: data1, dtype: float64

In [5]:
df['data1'].groupby([df['key1'],df['key2']]).mean()

key1  key2
a     one     0.740948
      two    -0.052653
b     one     0.383246
      two     0.285210
Name: data1, dtype: float64

In [6]:
df['data1'].groupby([df['key1'],df['key2']]).count()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
Name: data1, dtype: int64

In [7]:
df['data1'].groupby([df['key1'],df['key2']]).sum()

key1  key2
a     one     1.481897
      two    -0.052653
b     one     0.383246
      two     0.285210
Name: data1, dtype: float64